@import "colors";


#myProfile tr , #myProfile td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-right: 10px;
    
  
  }
.fa-edit{
    color: $backgroundColor;
}

.fa-edit:hover{
    cursor: pointer;
}

hr{
    max-width: 50%;
   
}
h1{
    color: $backgroundColor;
}