@import "colors";
.page-404{
    background-image: url("../img/PHOTO-PAGE-ACCUEIL.jpg");
    height: 640px;
    
    background-position: 50% 0px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: rgba(0, 0, 0, 0.2);
    
    
}
.number-404{
    //font-size: 250px;
    font-weight: bold;
    color:$white-color ;
    font-weight: bold;
    
}

.go-back-section{
    background-color:$white-color ;
    font-size: 20px;
    color: $backgroundColor;
    max-width: 60%;
    margin: auto;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-overlay{
    background-color: rgba(0,0,0,0.55); background: linear-gradient(135deg, rgba(0,0,0,0.55) 0%, 100%);
}


